
# Core dependencies
neo4j
langchain
langchain-community
pydantic-settings
python-dotenv
psycopg[binary]
pytest
langchain-openai
langchain-google-genai
langchain-groq
pypdf
fastapi
uvicorn[standard]
fastmcp